In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import warnings
import time
import numpy as np

warnings.simplefilter('ignore')

def get_shareholding(x):
    url = "https://www.screener.in/company/" + x +"/"
    response = requests.get(url)

    soup = bs(response.content, "html.parser")

    quarterly_shp_section = soup.find('div', {'id': 'quarterly-shp'})

    shareholding_table = quarterly_shp_section.find('table', {'class': 'data-table'})
    shareholding_data = []
    for row in shareholding_table.find_all('tr'):
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        shareholding_data.append(cols)

    df = pd.DataFrame(shareholding_data)
    time.sleep(4);
    return df

In [2]:

def HoldingScore(ticker):
    try:
        df = get_shareholding(ticker)
        if len(df[0].to_numpy()) == 6:
            df[0] = ["x","Promoter", "FII", "DII", "Retail","Share Holders"]
        if len(df[0].to_numpy()) == 7:
            df[0] = ["x","Promoter", "FII", "DII","Gov", "Retail","Share Holders"]
        if len(df[0].to_numpy()) == 8:
            df[0] = ["x","Promoter", "FII", "DII","Gov", "Retail","other","Share Holders"]
        if len(df[0].to_numpy()) > 8:
            df[0] = ["x","Promoter", "FII", "DII","Gov", "Retail","other","Share Holders",'xx']
        
        df = df.transpose()

        df = df.drop(columns=[0])
        df.columns = df.iloc[0]
        df = df.iloc[1:]

        df.drop([1, 2, 3, 4, 5, 6, 7, 8], inplace=True)
        # Convert percentage strings to float
        df['Promoter'] = df['Promoter'].str.rstrip('%').astype(float)
        df['FII'] = df['FII'].str.rstrip('%').astype(float)
        df['DII'] = df['DII'].str.rstrip('%').astype(float)
        df['Retail'] = df['Retail'].str.rstrip('%').astype(float)
        try:
            df['Gov'] = df['Gov'].str.rstrip('%').astype(float)
        except:
            pass
        # Remove commas and convert 'share holders' to int
        df['Share Holders'] = df['Share Holders'].str.replace(',', '').astype(int)
        score = round((np.diff(df['FII'].to_numpy()) / df['FII'].to_numpy()[:-1]).sum() + (np.diff(df['DII'].to_numpy()) / df['DII'].to_numpy()[:-1]).sum() + (np.diff(df['Promoter'].to_numpy()) / df['Promoter'].to_numpy()[:-1]).sum() - (np.diff(df['Retail'].to_numpy()) / df['Retail'].to_numpy()[:-1]).sum(),5)
        holding = round(-(np.diff(df['Share Holders'].to_numpy()) / df['Share Holders'].to_numpy()[:-1]).sum(),3)
        return score, holding
    except Exception as e:
        print('error '+ticker)
        print(e)
        return 0, 0
        
def csv_caller(x):
    of = pd.read_csv(x)
    of = of.drop(columns=['Unnamed: 0'])
    of["Holding score"] = 0
    of['Holding no'] = 0
    k = 0
    for i in of['nsecode']:
        Score, holding = HoldingScore(i)
        of['Holding score'][k] = Score
        of['Holding no'][k] = holding
        k+=1
    of.fillna(0.0, inplace=True)
    return of

mid_ga = csv_caller("long_term.csv")
short_ga = csv_caller("short_term.csv")
long_ga = csv_caller("mid_term.csv")

error KITEX
'Promoter'
error CONSOFINVT
'NoneType' object has no attribute 'find_all'
error KITEX
'Promoter'
error CONSOFINVT
'NoneType' object has no attribute 'find_all'
error GATEWAY
'[7, 8] not found in axis'

In [3]:
mid_ga['cat'] = "M"
short_ga['cat'] = "S"
long_ga['cat'] = "L"

In [4]:
mid_ga

       nsecode  Holding score  Holding no cat
0   BAJFINANCE        0.06494      -0.036   M
1   BAJAJ-AUTO        0.01031       0.102   M
2   ROLEXRINGS        0.00000      -0.000   M
3       ECLERX        0.16263      -0.398   M
4          M&M        0.00255       0.019   M
5   INDUSINDBK        0.02296      -0.022   M
6   SHAREINDIA        0.45801       0.049   M
7   BHARTIARTL        0.08108       0.091   M
8   ICICIPRULI        0.18346       0.007   M
9   BALRAMCHIN        0.15363       0.146   M
10        KRBL        1.60076      -0.012   M
11  CSLFINANCE        0.00000      -0.336   M
12       KITEX        0.00000       0.000   M
13      HILTON        0.00000      -0.068   M
14  CONSOFINVT        0.00000       0.000   M

In [5]:
short_ga

       nsecode  Holding score  Holding no cat
0   BAJFINANCE        0.06494      -0.036   S
1   BAJAJ-AUTO        0.01031       0.102   S
2   ROLEXRINGS        0.00000      -0.000   S
3   SHRIRAMFIN       -1.32044      -0.006   S
4   PHOENIXLTD        0.12642      -0.441   S
5       ECLERX        0.16263      -0.398   S
6          M&M        0.00255       0.019   S
7      ACCELYA       -1.53982      -0.075   S
8   INDUSINDBK        0.02296      -0.022   S
9   SHAREINDIA        0.45801       0.049   S
10      SASKEN        0.00000       0.060   S
11   XPROINDIA      155.53590       0.033   S
12         VBL       -0.22158      -0.459   S
13  BHARTIARTL        0.08108       0.091   S
14      MASFIN        0.10012       0.078   S
15     DHANUKA       -0.03257       0.050   S
16      GESHIP       -0.00193      -0.158   S
17        ERIS       -0.13283       0.083   S
18     KPRMILL        0.10528       0.186   S
19        KKCL       -0.20985      -0.197   S
20         KEC        0.02606       0.072   S
21        KSCL        0.20206       0.201   S
22  ICICIPRULI        0.18346       0.007   S
23   INDNIPPON        0.00000       0.003   S
24     CGPOWER        0.41847       0.006   S
25  BALRAMCHIN        0.15363       0.146   S
26        KRBL        1.60076      -0.012   S
27    CHOICEIN        0.00000      -0.196   S
28   SANGAMIND        0.00000      -0.043   S
29  CSLFINANCE        0.00000      -0.336   S
30        SDBL        0.00000      -0.472   S
31        SOTL        0.11840      -0.068   S
32     CSBBANK        0.29593      -0.004   S
33      KNRCON       -0.06711      -0.027   S
34       SREEL        0.00000      -0.076   S
35        SGIL       -1.00081      -0.270   S
36     DEVYANI        0.00000      -0.000   S
37  LOKESHMACH        0.00000      -0.194   S
38       KITEX        0.00000       0.000   S
39      HILTON        0.00000      -0.068   S
40  MUNJALSHOW       -0.52892       0.002   S
41  CONSOFINVT        0.00000       0.000   S
42  KARURVYSYA       -0.19037      -0.137   S
43  NAHARINDUS        1.99309       0.003   S
44   TATASTEEL        0.14705      -0.095   S
45        GAIL        0.14896       0.060   S
46     GATEWAY        0.00000       0.000   S

In [6]:
merged_df = pd.concat([mid_ga, short_ga, long_ga], axis=0)

In [7]:
merged_df

       nsecode  Holding score  Holding no cat
0   BAJFINANCE        0.06494      -0.036   M
1   BAJAJ-AUTO        0.01031       0.102   M
2   ROLEXRINGS        0.00000      -0.000   M
3       ECLERX        0.16263      -0.398   M
4          M&M        0.00255       0.019   M
..         ...            ...         ...  ..
1   BAJAJFINSV        0.43342      -0.226   L
2   SHAREINDIA        0.45801       0.049   L
3    AMBUJACEM       -0.09656      -0.322   L
4        ZUARI       -0.32538       0.015   L
5   NAVKARCORP        0.00000       0.031   L

[68 rows x 4 columns]

In [8]:
merged_df = merged_df.sort_values(by='Holding score', ascending=False)

In [12]:
import streamlit as st
import base64

In [14]:
from datetime import datetime
today_date = datetime.today().strftime('%d-%m-%Y')

In [16]:
merged_df.to_csv(today_date+'.csv')

In [ ]:
def download_link(df, filename, text):
    csv = df.to_csv(index=False)
    b64 = base64.b64encode(csv.encode()).decode()  # Base64 encoding
    href = f'<a href="data:file/csv;base64,{b64}" download="{filename}.csv">{text}</a>'
    return href

In [ ]:
# Streamlit app
st.title('Display DataFrame in Sidebar')

# Display DataFrame in the sidebar
st.sidebar.write('### DataFrame in Sidebar')
st.sidebar.write(merged_df)